
.vs/TimeToTriangle/FileContentIndex/2c83c08e-1cef-4a1e-8e85-2befa31d489c.vsidx
.vs/TimeToTriangle/FileContentIndex/read.lock
.vs/TimeToTriangle/v17/.suo
.vs/TimeToTriangle/v17/Browse.VC.db
.vs/TimeToTriangle/v17/ipch/AutoPCH/ec52201aca5b319c/MAIN.ipch
x64/Debug/glad.obj
x64/Debug/main.obj
x64/Debug/opengltriangle.obj
x64/Debug/opengltutorialtriangle.obj
x64/Debug/openglwindow.obj
x64/Debug/TimeToTriangle.exe
x64/Debug/TimeToTriangle.exe.recipe
x64/Debug/TimeToTriangle.ilk
x64/Debug/TimeToTriangle.log
x64/Debug/TimeToTriangle.pdb
x64/Debug/TimeToTriangle.tlog/CL.command.1.tlog
x64/Debug/TimeToTriangle.tlog/CL.read.1.tlog
x64/Debug/TimeToTriangle.tlog/CL.write.1.tlog
x64/Debug/TimeToTriangle.tlog/link.command.1.tlog
x64/Debug/TimeToTriangle.tlog/link.read.1.tlog
x64/Debug/TimeToTriangle.tlog/link.write.1.tlog
x64/Debug/TimeToTriangle.tlog/TimeToTriangle.lastbuildstate
x64/Debug/TimeToTriangle.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/vulkansetup.obj
x64/Debug/vulkanwindow.obj
